body{
  margin: 0;
}

.navbar {
  padding: 0.25rem 1rem;
  margin-bottom: -30px;
}

.justify-content-end{
  font-size: 18px;
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: skyblue !important;
}

.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 25px;
}

.form-wrapper{
  max-width: 80%;
  margin: 30px auto;
}

.table-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.slide-container {
  width: 90%;
  margin: 50px auto;
}

h3 {
  text-align: center; 
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 85%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.create-link {
  display: block;
  float: right;
  padding: 10px;
  width: 100px;
}

.disabledInput {
  cursor: not-allowed;
  pointer-events:none;
  background: #dddddd;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.thead-color {
  color: #000;
  background-color: #66b3ff;
  border-color: #fff;
}

.page-header {
  color: #222;
  text-align: center;
  padding: 10px;
}

label span{
  color: #f00;
}

.validation {
  display:none;
  margin: 0 0 10px;
  color: #f00;
}

.page-head{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
  width: 100%;
  height: 200px;
}

.pghead1{
  background: url('./img/pghead1.jpg');
  background-size: cover;
}

.pghead2{
  background: url('./img/pghead2.jpg');
  background-size: cover;
}

.pghead3{
  background: url('./img/pghead3.jpg');
  background-size: cover;
}

.page-head h1{
  color: #ddd;
  padding: 40px 0 0 50px;
}

.container {
  margin-top: 0 !important;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

.pagination {
  float: right;
}

.advbtn {
  height: 50px;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
}